enwikivoyage-latest-pages-articles.xml
*.sqlite3
*.log

# https://help.github.com/articles/ignoring-files

# Windows #
###########
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# OSX #
#######
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# Linux #
#########
.*
!.git*
*~

# Vim #
#######
.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# Emacs #
#########
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

# TextMate #
############
*.tmproj
*.tmproject
tmtags
